<!-- /templates/customers/login.liquid -->

<div class="login__wrapper">
    <h2 class="login__title">Login</h2>
    {% form 'customer_login' %}

    <div class="login__errors">
        {{ form.errors | default_errors }}
    </div>

    <input placeholder="Email Address" type="email" name="customer[email]" />
    <input placeholder="Password" type="password" name="customer[password]" />

    <input type="submit" value="Sign In" />

    {% endform %}

    <h2 class="login__title">Forgot Password</h2>
    <div class="login__errors">
        {% form 'recover_customer_password' %}
    </div>


    {{ form.errors | default_errors }}

    <input type="email" placeholder="Email Address" name="email" />

    <input type="submit" value="Submit" />

    {% endform %}
</div>