<!-- /templates/customers/login.liquid -->

<div class="login__wrapper">
    <h2 class="login__title">Login</h2>
    {% form 'customer_login' %}

    {{ form.errors | default_errors }}

    <input placeholder="Email Address" type="email" name="customer[email]" />
    <input placeholder="Password" type="password" name="customer[password]" />

    <input type="submit" value="Sign In" />

    {% endform %}

    <!-- <h2>Forgot Password</h2>

    {% form 'recover_customer_password' %}

    {{ form.errors | default_errors }}

    <input type="email" name="email" />

    <input type="submit" value="Submit" /> -->

    {% endform %}
</div>