<!-- /templates/customers/reset_password.liquid -->
<div class="reset-password__wrapper">
  <h2 class="reset-password__title">Reset Password</h2>
  {% form 'reset_customer_password' %}

  {{ form.errors | default_errors }}

  <input type="password" placeholder="Password" value="" name="customer[password]" size="16" />
  <input type="password" placeholder="Password Confirmation" value="" name="customer[password_confirmation]"
    size="16" />
  <input type="submit" value="Reset Password" />

  {% endform %}
</div>