{{'section-featured-collections.css' | asset_url | stylesheet_tag}}

<div class="featured-collections">
    {% for block in section.blocks %}
        <a href="#" class="collection">
            <img src="{{ block.settings.collection.image.src | img_url: 'large' }}"
                alt="{{ block.settings.collection.image.alt | escape }}" load="lazy">
            <p class="title">{{ block.settings.collection.title }} <span>{% render 'icon-arrow-black' %}</span> </p>
        </a>
    {% endfor %}
</div>

{% schema %}
    {
        "name": "Featured Collections",
        "settings": [],
        "blocks": [
            {
                "name": "Collection",
                "type": "collection",
                "settings": [
                    {
                        "type": "collection",
                        "id": "collection",
                        "label": "Collection"
                    }
                ]
            }
        ],
        "presets": [{
            "name": "Featured Collections"
        }]
    }
{% endschema %}