<nav class="header">
    <a class="header__logo" href="https://again-faster-demo.myshopify.com">
        {% render "icon-logo" %} 
    </a>

    <ul class="header__link-list">
        {% for link in linklists.main-menu.links %}
            <li class="header__link-list-item">
                <a class="header__link-list-item-link" href="{{ link.url }}">{{ link.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <ul class="header__icon-list">
        <li class="header__icon-list-item"> {% render 'icon-search' %} </li>
        <li class="header__icon-list-item"> {% render 'icon-bag' %} </li>
        <li class="header__icon-list-item"> 
            <a href="/account">
                {% render 'icon-account' %} 
            </a>
        </li>
    </ul>
</nav> 