
.featured-collections {
    width: auto; 
    gap: 10px;
    white-space: nowrap; 
    overflow-x: auto;
    overflow-y: hidden;
    margin: 97px 40px;
    padding-bottom: 40px;
}


.featured-collections::-webkit-scrollbar {
    height: 2px;
}

.featured-collections::-webkit-scrollbar-track {
    background: #F1F1F1; 
}

.featured-collections::-webkit-scrollbar-thumb {
    background: #000000;
}


.featured-collections .collection {
    width: calc( (100vw - 48px - 80px) / 4);
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    margin-left: 16px;
}

.featured-collections .collection img {
    width: 100%;
}

.featured-collections .collection .title {
    width: 100%;
    display: block;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 168%;
 
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin-top: 8px;
    cursor: pointer;
}

.featured-collections .collection .title span {
    margin-left: 9px;
    opacity: 0;
    transition: 0.4s;
}

.featured-collections .collection:hover > .title span {
    opacity: 1;
}