.reset-password__wrapper {
    margin-top: 52px;
    padding: 50px;
}

.reset-password__title {
    text-align: center;
    margin: 36px 0;
}

.reset-password__wrapper input {
    min-width: 200px;
    padding: 10px;
    border: 1px solid black;
    display: block;
    margin: 12px auto
}