
.best-seller__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 65px;
    padding: 120px 40px 120px 0;
    font-family: Open Sans;
}

.best-seller__left-image {
    width: 60%;
}

.best-seller__title {
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #000000;
    display: inline-block;
    margin: 40px 0 8px 0;
}

.best-seller__sub-title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 130%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
}

.best-seller__description {
    font-size: 1.167rem;
    color: #8F8F8F;
    margin: 16px 0 40px 0;
}

.best-seller__button {
    font-size: 1rem;
    line-height: 1.3rem;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 1px solid #000000;
}

.best-seller__right-image{
    width: 100%;
}