.product__wrapper {
    width: 100%;
    height: calc(100vh - 92px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 52px;
    font-family: Open Sans;
}

.product_featuerd-image-block {
    width: 100%;
    height: calc(100vh - 92px);
}

.product__featured-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__detail {
    width: 100%;
    height: 100%;
    padding: 20px 100px 40px 100px;
}

.product__title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 130%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
}

.product__price {
    font-size: 0.8rem;
    line-height: 167.5%;
    color: #000000;
    margin: 8px 0 13px 0;
}

.product__description {
    margin: 14px 0 16px 0;
    font-size: 1.15rem;
    line-height: 167.5%;
    color: #000000;
}

.product__variants-list {
    height: 200px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}


.product__variants-list::-webkit-scrollbar {
    width: 4px;
}

.product__variants-list::-webkit-scrollbar-track {
    background: #F1F1F1; 
    width: 4px;
}

.product__variants-list::-webkit-scrollbar-thumb {
    background: #000000;
    width: 4px;
}

.product__variants-list-item {
    list-style: none;
}

.product__variant-select-radio {
    display: none;
}

.product__variant-label {
    display: block;
    padding: 16px 32px;
    font-size: 1.15rem;
    line-height: 167.5%;
    color: #000000;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.product__variant-select-radio:checked+label{ 
    border: 1px solid black;
} 

.product__variant-label_sold-out {
    text-decoration: line-through;
    color: #C4C4C4;
}

.product__free-shipping-available {
    font-size: 1.15rem;
    line-height: 167.5%;
    color: #979797;
    margin: 16px 0 24px 0;
}

.product__master-selector {
    display: none;
}

.product__form-submit-button {
    background: #000000;
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: center;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 0;
    border: none;
    width: 100%;
}

.product__form-submit-button.disabled {
	background: grey;
}

/* Frequently Bought Products Styles */

.freq-bought-products {
    margin-top: q4px;
    border-top: 1px solid #F1F1F1;
}

.freq-bought-products__title {
    font-weight: 600;
    font-size: 1,3rem;
    line-height: 167.5%;
    color: #000000;
    margin: 16px 0 24px 0;
}

.freq-bought-products__list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.freq-bought-products__list-item {
    display: flex;
    gap: 16px;
}
.freq-bought-products__list-item-img {
    width: 98px;
    height: 125px;
    object-fit: cover;
}

.freq_bought_products__list-item-title {
    font-size: 1.15rem;
    line-height: 167.5%;
    color: #000000;
    margin-top: 20px;
}

.freq_bought_products__list-item-add-to-cart-button {
    font-size: 0.6rem;
    line-height: 167.5%;
    text-decoration-line: underline;
    color: #000000;
}

/* Product Presentaion Styles */

.product__presentation {
    background: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 80px 0;
    position: relative;
}

.product__presentation-text {
    position: relative;
    color: white;
    padding-left: 80px;
    font-family: Open Sans;
    z-index: 200;
}

.product__presentation-text p {
    font-size: 1.16rem;
}

.product__presentation-text h2 {
    margin-bottom: 34px;
}

.product__presentation-text ul li {
    list-style: none;
    margin-bottom: 16px;
    font-size: 1.16rem;
}

.product__presentation-text ul li::before {
    content: "/";
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 167.5%;
    color: #C2A578;
    margin-right: 8px;
}

.product__presentation-text ul li:first-child {
    margin-top: 25px;
}

.product__presentation-image-block img {
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 200;
}

.product__presentation:nth-child(even) .product__presentation-text {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.product__presentation:nth-child(even) .product__presentation-image-block {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.product__presentation .vertical-lines span {
    width: 1px;
    height: 100%;
    background-color: #C2A578;
    position: absolute;
    top: 0;
    opacity: 0.2;
    z-index: 100;
}

.product__presentation .vertical-lines span:first-child {
    left: 25%;
}

.product__presentation .vertical-lines span:nth-child(2) {
    left: 50%;
}

.product__presentation .vertical-lines span:last-child {
    left: 75%;
}

.related-products__wrapper {
    padding: 0 40px;
    font-family: Open Sans;
}

.related-products__wrapper h2 {
    font-size: 2.3rem;
    line-height: 130%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
    margin-top: 80px;
    font-weight: 300;
}

.related-products__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 40px 0;
}

.related__product {
    width: 100%;
    text-decoration: none;
    position: relative;
    margin-bottom: 40px;
}


.related__product-label-list {
    font-family: Open Sans;
    position: absolute;
    top: 8px;
    left: 8px;
}

.related__product-label {
    padding: 4px 8px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 167.5%;
    text-align: center;
    margin-right: 8px;
    text-decoration: none;
}

.related__product-label--best-seller {
    background-color: #000000;
    color: #FFFFFF;
}

.related__product-label--free-shipping {
    background-color: #FFFFFF;
    color: #000000;
}

.related__product-label--pre-order {
    background-color: transparent;
    color: #000000;
    border: 1px solid #C4C4C4;
}

.related__product-label--sale {
    background: #9E0404;
    color: #FFFFFF;
}

.related__product-image {
    width: 100%;
}

.related__product--title {
    font-weight: 300;
    font-size: 1rem;
    line-height: 168%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #000000;
}

.related__product--stars {
    margin: 8px 0;
}

.related__product--price {
    font-weight: 300;
    font-size: 1rem;
    line-height: 168%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #353535;
}