.ajax-cart__wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 900;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.ajax-cart__wrapper_open {
    display: initial;
}

.ajax-cart__content {
    width: 480px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -480px;
    background-color: white;
    transition: 0.3s;
}

.ajax-cart__content_open {
    right: 0;
    transition: 0.3s;
}

.cart__wrapper {
    padding: 0 24px 0 24px;
}

.cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.cart_title {
    font-family: Open Sans;
    font-size: 2rem;
    line-height: 130%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
}

.cart__items-list {
    height: calc(100vh - 300px);
    overflow-y: scroll;
}

.cart__item {
    display: flex;
    align-items: flex-end;
    border-top: 1px solid #F1F1F1;
    padding: 16px 0;
}

.cart__item:last-child {
    border-bottom: 1px solid #F1F1F1;
}

.item__image-block {
    width: 120px;
    height: 150px;
}

.item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item__detail {
    width: calc(100% - 120px);
    font-family: Open Sans;
    position: relative;
    padding-left: 16px;
}

.item__title {
    font-family: Oswald;
    font-weight: 300;
    font-size: 1rem;
    line-height: 168%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    margin-bottom: 1rem;
}

.item__variant {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 167.5%;
    color: #000000;
    margin-bottom: 40px;
}

.item__price {
    font-size: 1rem;
    line-height: 167.5%;
    color: #000000;
    position: absolute;
    right: 0;
    top: 0;
}

.item__remove {
    position: absolute;
    right: 0;
    top: 28px;
}

.item__change-quantity {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form {
    width: 100%;
    font-family: Open Sans;
    position: absolute;
    left: 0;
    bottom: 40px;
    padding: 0 24px;
}

.form__sub-total {
    font-size: 1.3rem;
    line-height: 168%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;

    display: flex;
    justify-content: space-between;
}

.form__shipping-info {
    font-size: 1.167rem;
    line-height: 167.5%;
    color: #000000;
    margin: 11px 0 24px 0;
}

.form__button {
    width: 100%;
    background: #000000;
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: center;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 0;
    border: none;
}