.collection {
    padding: 92px 40px;
    font-family: Oswald;
}

.collection__title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 130%; 
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.collection__nav {
    margin: 29px 0 47px 0;
    text-align: center;
}

.collection__nav-link {
    text-decoration: none;
    font-family: Open Sans;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #C4C4C4;
    padding-bottom: 5px;
}

.collection__nav-link--active {
    color: #000000;
    border-bottom: 2px solid #C2A578;
}

.collection__nav-seperator {
    margin: 0 8px;
    color: #C4C4C4;
}

.collection__nav-seperator:last-child {
    display: none;
}

.collection__no-product-alert {
    text-align: center;
}

.collection__product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.collection__product {
    width: 100%;
    text-decoration: none;
    position: relative;
    margin-bottom: 40px;
}


.collection__product-label-list {
    font-family: Open Sans;
    position: absolute;
    top: 8px;
    left: 8px;
}

.collection__product-label {
    padding: 4px 8px;
    font-size: 12px;
    font-weight: normal;
    line-height: 167.5%;
    text-align: center;
    margin-right: 8px;
    text-decoration: none;
}

.collection__product-label--best-seller {
    background-color: #000000;
    color: #FFFFFF;
}

.collection__product-label--free-shipping {
    background-color: #FFFFFF;
    color: #000000;
}

.collection__product-label--pre-order {
    background-color: transparent;
    color: #000000;
    border: 1px solid #C4C4C4;
}

.collection__product-label--sale {
    background: #9E0404;
    color: #FFFFFF;
}

.collection__product-image {
    width: 100%;
}

.collection__product--title {
    font-weight: 300;
    font-size: 12px;
    line-height: 168%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #000000;
}

.collection__product--stars {
    margin: 8px 0;
}

.collection__product--price {
    font-weight: 300;
    font-size: 12px;
    line-height: 168%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #353535;
}
