.announcement-bar {
    width: 100%;
    height: 40px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    background-color: #FBFBFB;
}

.announcement-bar a {
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #000000;
    line-height: 40px;
    text-decoration: none;
    display: block;
}