.collection {
    padding: 92px 40px;
    font-family: Oswald;
}

.collection h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%; 
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.collection .all-collections {
    margin: 29px 0 47px 0;
    text-align: center;
}

.collection .all-collections a {
    text-decoration: none;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #C4C4C4;
    padding-bottom: 5px;
}

.collection .all-collections .active {
    color: #000000;
    border-bottom: 2px solid #C2A578;
}

.collection .all-collections span {
    margin: 0 8px;
    color: #C4C4C4;
}

.collection .all-collections span:last-child {
    display: none;
}

.collection .collection__alert {
    text-align: center;
}

.collection-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.collection-products .product {
    width: 100%;
    text-decoration: none;
    position: relative;
    margin-bottom: 40px;
}

.collection-products .product img {
    width: 100%;
}

.collection-products .product .product__title {
    font-weight: 300;
    font-size: 12px;
    line-height: 168%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #000000;
}

.collection-products .product .product__stars {
    margin: 8px 0;
}

.collection-products .product .product__price {
    font-weight: 300;
    font-size: 12px;
    line-height: 168%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #353535;
}

.collection-products .product .product__labels {
    font-family: Open Sans;
    position: absolute;
    top: 8px;
    left: 8px;
}

.collection-products .product .product__labels .label {
    padding: 4px 8px;
    font-size: 12px;
    font-weight: normal;
    line-height: 167.5%;
    text-align: center;
    margin-right: 8px;
    text-decoration: none;
}

.collection-products .product .product__labels .label--best-seller {
    background-color: #000000;
    color: #FFFFFF;
}

.collection-products .product .product__labels .label--free-shipping {
    background-color: #FFFFFF;
    color: #000000;
}

.collection-products .product .product__labels .label--pre-order {
    background-color: transparent;
    color: #000000;
    border: 1px solid #C4C4C4;
}

.collection-products .product .product__labels .label--sale {
    background: #9E0404;
    color: #FFFFFF;
}
